header {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;

}

header .logo {
    max-width: 5rem;

}


header p {
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;


}
